
.modalDiv{
  position: fixed;
  top: 20vh;
  left: 30%;
  /* padding-left: 10%; */
  width: 60%;
  height: fit-content;
  z-index: 100;
  overflow:auto ;
  background-color: white;
  display: grid;
  grid-template-rows: 0px fit-content 60px;
  min-height: 60vh;
} 

.modalBackground{
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(209, 207, 207, 0.75);
  position: fixed;
  top: 0;
  left: 0;
}

.modalHeader{
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px grey solid;
  padding-bottom: 2%;
  margin-top: 2%;
}

.modalHeaderH5 {
  margin-left: 5%;
  font-size: 15px;
}

.modalHeaderX{
  margin-right: 2%;
  text-decoration: none;
  border: none;
  background: none;
}

.modalBody{
  grid-row: 2/3;
}

.cartModalItem{
  border-bottom: 1px grey solid;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 90% 10%;
}
.cartModalItemInfo{
  display: grid;
  grid-template-columns: 70% 10% 10%;
  grid-template-rows: 80% 20%;
  grid-column: 1/2;
}
.cartModalName{
  grid-column: 1/2;
}
.cartModalPrice{
  grid-column: 3/4;
  grid-row: 1/3;
  margin-left: 80%;
  padding-top: 20%;
}
.cartModalDesc{
  grid-column: 1/2;
  grid-template-rows: 2/3;
}
.cartModalX{
  grid-column: 2/3;
  margin-right: 10%;
  text-decoration: none;
  border: none;
  background: none;
}

.modalTotal{
  right: 0;
}

.modalFooter{
  grid-row: 3/4;
}