
.modalDiv{
  position: fixed;
  top: 30vh;
  left: 30%;
  /* padding-left: 10%; */
  width: 60%;
  height: fit-content;
  z-index: 100;
  overflow:auto ;
  background-color: white;
  display: grid;
  grid-template-rows: 100px 100% 60px;
} 

.modalBackground{
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(209, 207, 207, 0.75);
  position: fixed;
  top: 0;
  left: 0;
}

.modalHeader{
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px grey solid;
  padding-bottom: 5%;
  margin-top: 5%;
}

.modalHeaderH5 {
  margin-left: 5%;
  /* font-size: 15px; */
}

.modalHeaderX{
  margin-right: 2%;
  text-decoration: none;
  border: none;
  background: none;
}

.modalBody{
  grid-row: 2/3;
}

.modalFooter{
  grid-row: 3/4;
}